# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
LICENSE

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
/vendor
/node_modules

# Environment
.env
.env.*
!.env.docker
!.env.example

# Storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Testing
.phpunit.result.cache
/tests

# Build artifacts
/public/hot
/public/storage
/public/build

# Docker
docker-compose.override.yml

